.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $base-primary;
  color: $base-white;
  font-family: $font-default;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  min-height: 40px;
  min-width: 113px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}
