.button {
  @include link-default;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $base-primary;
  color: $base-white;
  font-family: $font-default;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  min-height: 40px;
  min-width: 113px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $primary-lighter;
  }

  &:active {
    background-color: $primary-darker;
  }

  &--inversion {
    display: flex;
    background-color: $base-white;
    color: $base-primary;
    min-width: 280px;
    margin: 0 auto;

    &:hover,
    &:active,
    &:focus {
      color: $base-white;
    }

    @media (min-width: $tablet-width) {
      min-width: 222px;
      display: block;
      margin: 0 auto;
      margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
      min-width: 318px;
      margin-right: 40px;
    }
  }

  &:disabled {
    background-color: $base-grey;
    color: $base-white;

    &:hover,
    &:focus,
    &:active {
      background-color: $base-grey;
      color: $base-white;
    }
  }
}

.button--img-cart {
  font-size: 14px;
  line-height: 20px;
  min-width: 141px;
  min-height: 36px;
  background-image: url("../../img/button-img.svg");
  background-repeat: no-repeat;
  background-size: 20px 16px;
  background-position: left 14px center;
  padding-left: 33px;

  &:disabled {
    background-color: $base-grey;
    color: $base-white;

    &:hover,
    &:focus,
    &:active {
      background-color: $base-grey;
      color: $base-white;
    }
  }
}

.button--inversion:disabled {
  background-color: $light-grey;
  color: $base-white;

  &:hover,
  &:focus,
  &:active {
    background-color: $light-grey;
    color: $base-white;
  }
}
