.main-page__wrapper {
  background-color: $flat-white;
}

.main-page__advantages {
  background-color: $base-white;
}

.main-page__advantages-action {
  color: $base-primary;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 0;
  text-align: center;
}

.main-page__advantages-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
