.page-header {
  position: relative;
  background-color: $base-white;
  min-height: 60px;

  @media (min-width: $tablet-width) {
    min-height: 80px;
  }
}

.page-header__logo {
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 67px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.page-header__container {
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  padding-left: 20px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 40px;
  }
}

.page-header__nav {
  display: flex;
  align-items: center;
}

.page-header__other-nav {
  min-width: 160px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-left: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 152px;
  }
}

.page-header__other-nav span {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 8px;
  }
}

.page-header__auth,
.page-header__cart {
  @include link-default;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  height: 60px;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    height: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 20px;
    padding: 32px 20px;
  }
}

.page-header__auth {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}

.page-header__auth > svg,
.page-header__cart > svg {
  fill: $base-black;
}

.page-header__toggle {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 0;
  padding: 0;
  position: relative;
  cursor: pointer;

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__container--closed .page-header__toggle {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
    width: 16px;
    height: 1px;
    background-color: $base-black;
    box-shadow: 0 5px 0 0 $base-black,
      0 -4px 0 0 $base-black;
  }
}

.page-header__container--opened .page-header__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 16px;
    height: 1px;
    background-color: $base-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    background-color: $base-primary;
  }
}

.page-header__list {
  position: absolute;
  display: none;

  @include list-default;

  @media (min-width: $tablet-width) {
    position: static;
    display: block;
  }
}

.page-header__container .page-header__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $base-white;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 12;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}


.page-header__item {
  flex-basis: 100%;
  border-top: 1px solid $base-secondary;
  min-height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:last-child {
    border-bottom: 1px solid $base-secondary;
  }

  &:active {
    background-color: $base-secondary;
  }

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    border: none;

    & .page-header__link--current {
      border-bottom: 2px solid $base-primary;
      color: $base-primary;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}


.page-header__link {
  @include link-default;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 32px 20px;
  }
}

.page-header__container--nojs .page-header__toggle {
  display: none;
}
