.pagination {
  display: flex;
  min-width: 280px;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: end;
  }
}

.pagination__link,
.pagination__link-button {
  @include link-default;
  font-family: $font-default;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $base-primary;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $base-white;
  border: none;
  cursor: pointer;
  border-radius: 4px;


  &:disabled {
    background-color: $light-grey;
    color: $base-white;
  }

  &:hover,
  &:focus {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &--current {
    background-color: $lightest-grey;
    color: $base-black;
    font-weight: 600;

    &:hover,
    &:focus,
    &:active {
      background-color: $lightest-grey;
      color: $base-black;
    }
  }
}

.pagination__link {
  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.pagination__link:hover > svg,
.pagination__link:focus > svg,
.pagination__link:active > svg {
  fill: $base-white;
}

.pagination__link-button {
  font-size: 0;
  text-transform: none;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    min-width: 104px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:first-child {
      min-width: 91px;
    }
  }
}

.pagination__link-button > svg {
  fill: $base-primary;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
