.page {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.page__body {
  min-width: 320px;
  font-family: $font-default;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin: 0;
  overflow-x: hidden;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  appearance: number-input;
}
